.footer {
    background-color: #5F5465; 
    color: white;
    padding: 30px 0; 
    position: relative; 
    left: 0;
    bottom: 0; 
    width: 100%; 
    text-align: center; 
    z-index: 100;
  }
  

.footer-content {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 10px;
}

.footer p {
  margin-top: 20px;
  font-size: 0.9rem;
  opacity: 0.8; 
}

.footer-links {
  margin-top: 10px; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px; 
}

.footer-links div {
  display: flex;
  align-items: center;
  gap: 5px; 
}

.footer-link,
.contact-link,
.footer-links a {
  color: #e2dde4; 
  text-decoration: none; 
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer-link:hover,
.contact-link:hover,
.footer-links a:hover {
  text-decoration: underline;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 70vh;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

h2 {
  margin-top: 0;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

p {
  line-height: 1.6;
}

@media (max-width: 600px) {
  .footer-content {
    gap: 20px;
  }

  .footer-links {
    flex-direction: column; 
    gap: 15px;
  }
}