.footer {
    background-color: #5F5465; 
    color: white;
    padding: 20px 0; 
    position: relative; 
    left: 0;
    bottom: 0; 
    width: 100%; 
    text-align: center; 
    z-index: 1000;
  }
  

.footer-content {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.footer p {
  margin: 10px 0;
  font-size: 14px;
}

.footer-links {
  margin-top: 10px; 
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px; 
  font-size: 16px;
}

.footer-links a:hover {
  text-decoration: underline;
}
